#One{
    border: 5px solid;
    border-radius: 25px;
    padding-left: 15px;
}

#Two{
    padding-left: 550px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 10px;
}

.car1{
    border: 1px solid;
    border-radius: 10px;
    width: 280px;
    height: 200px;
}
/* #car2{
    border: 1px solid;
    width: 250px;
    border-radius: 10px;
}#car3{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car4{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car5{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car6{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car7{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car8{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car9{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
}#car10{
    border: 1px solid;
    width: 300px;
    border-radius: 10px;
} */